@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'AGA Rasheeq V.2';
  src: url('../public/fonts/AGARasheeqV2.woff2') format('woff2'),
    url('../public/fonts/AGARasheeqV2.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AGA Rasheeq V.2';
  src: url('../public/fonts/AGARasheeqV2-Bold.woff2') format('woff2'),
    url('../public/fonts/AGARasheeqV2-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.font-agha {
  font-family: 'AGA Rasheeq V.2';
}

@font-face {
  font-family: 'BrittanySignature';
  src: url('/fonts/BrittanySignatureRegular.woff') format('truetype'),
    url('/fonts/BrittanySignatureRegular.woff') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #F6F7FB;
  color: #343434;
  font-size: 15px;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .theme-blue-btn {
    @apply uppercase rounded-md bg-primary-300 text-white py-4 px-9 self-start
  }

  .swiper.servicesSwiper {
    @apply pb-36 static
  }
}

.rtl {
  /* RTL-specific styles */
  direction: rtl;
  text-align: right;
}

.arabic body {
  font-family: 'AGA Rasheeq V.2';
}

.direction {
  direction: rtl;
}

.wellness-text {
  font-size: 8rem;
  font-weight: bold;
  text-transform: uppercase;
  background: linear-gradient(to bottom, #76b0e2, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* text-fill-color: transparent; */
  letter-spacing: 5px;
}



/* WhatWeOffer-card */
.WhatWeOffer-card .WhatWeOffer-img {
  margin: -60px 0 0;
  animation: all 0.3s;
  transition: all 0.3s;
  transform: scale(0.9);
}

.WhatWeOffer-card .WhatWeOffer-img img {
  position: relative !important;
  width: 100% !important;
  height: 292px !important;
}

/* .WhatWeOffer-card:hover .WhatWeOffer-img {
  margin: -60px 0px 0;
  animation: .3s ease-in;
} */

.WhatWeOffer-card:hover .WhatWeOffer-img {
  transform: scale(1);

}






/* direction */
/* .rtl .wellness-banner-content h5,
.rtl .wellness-banner-content p{
  text-align: right;
}
.rtl .DownloadOurApp .heading-box {
  text-align: right;
} */
html[lang="ar"][dir="rtl"] .bnenfits_banner p {
  max-width: 582px;
}

/* html[lang="ar"][dir="rtl"] .custom_select_button{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 7px;
    height: 55px;
    right: -18%;
  } */
html[lang="ar"][dir="rtl"] .upload_icon {
  position: relative;
  height: 55px;
  width: 100px;
  top: 0px;
  right: 13px;
}

.upload_icon {
  position: relative;
  height: 55px;
  width: 100px;
  top: 0px !important;
  left: 13px;
}

.icon-wrap button {
  top: 20px !important;
}

.mediaContent p {
  margin-right: 30px;
}

html[lang="ar"][dir="rtl"] .btn-icon button {
  right: auto;
  left: 10px;
}


/* new css */

.custom_client {
  object-fit: cover;
  object-position: top !important;
}

.contact-hero {
  position: relative;
}

.contact-banner::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-image: url('../public/contactus.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.event-banner::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-image: url('../public/assets/images/event/event-banner.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.about-banner::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-image: url('../public/assets/images/about/AboutBanner.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.benefits-banner::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-image: url('../public/benefits.png');
  background-size: cover;
  background-repeat: no-repeat;
}

html[lang="ar"][dir="rtl"] .nurturing-img {
  min-height: 670px;
}

.our-value-content-box {
  margin-top: 130px;
}

.nurturing-img::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-image: url('../public/assets/images/about/nurturing.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.btn-download img {
  width: 237px;
  height: 72px;
}

.btn-download a:first-child {
  margin-right: 52px;
}

.dir_left-t-right {
  direction: ltr;
}

html[lang="ar"] .event-banner::before,
html[lang="ar"] .contact-banner::before,
html[lang="ar"] .about-banner::before,
html[lang="ar"] .benefits-banner::before,
html[lang="ar"] .nurturing-img::before {
  transform: scaleX(-1);
}

.fullpage-loader-holder {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.7);
}

.play_content_wrap h3 {
  font-size: 24px;
  max-width: 204px;
}

.singnature-text p {
  font-size: 18px;
  max-width: 783px;
  line-height: 40px;
  padding-left: 41px;
}

.fullpage-loader {
  width: 112px;
  height: 112px;
  position: absolute;
  left: 50%;
  top: 50%;
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.fullpage-loader .circle {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(71deg, rgba(73, 145, 214, 1) 0%, rgba(125, 49, 138, 1) 70%);
  left: 15%;
  transform-origin: 50%;
  animation: circle .5s alternate infinite ease;
}

@keyframes circle {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }

  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 0%;
  }
}

.fullpage-loader .circle:nth-child(2) {
  left: 45%;
  animation-delay: .2s;
}

.fullpage-loader .circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}

.fullpage-loader .shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, .5);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: shadow .5s alternate infinite ease;
}

@keyframes shadow {
  0% {
    transform: scaleX(1.5);
  }

  40% {
    transform: scaleX(1);
    opacity: .7;
  }

  100% {
    transform: scaleX(.2);
    opacity: .4;
  }
}

.fullpage-loader .shadow:nth-child(4) {
  left: 45%;
  animation-delay: .2s
}

.fullpage-loader .shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: .3s;
}

.fullpage-loader span {
  position: absolute;
  top: 75px;
  font-family: 'Lato';
  font-size: 20px;
  letter-spacing: 12px;
  color: #11bfe3;
  left: 15%;
}

.yoga_img_wrapper {
  min-height: 910px !important;
}

.border_line::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 480px;
  background-color: #DEDEDE;
  left: -240px;
  right: 0;
  top: -16px;
}

html[lang="ar"][dir="rtl"] .SubscribeUs-card input {
  padding: 10px 10px 10px 30px;
}

.Meditation-content-inner p:nth-of-type(2) {
  font-weight: 600;
}

.Meditation-content-inner h2 {
  line-height: 50px;
}

.commitment-wrap h2 {
  line-height: 50px;
}

.what_we_offer h2 {
  line-height: 50px;
}

.slider-content small {
  font-size: 16px;
}

.slider-content h4 {
  font-size: 24px;
  padding-bottom: 10px;
}

.custom-pagination span {
  font-size: 18px;
}

.form_wrap {
  margin-top: 57px;
}

html[lang="ar"][dir="rtl"] .sign_in_page p {
  font-size: 32px;
}

.sign_in_page .btn-icon {
  margin-left: 15px;
}

html[lang="ar"][dir="rtl"] .sign_in_page .btn-icon {
  margin-right: 15px;
}

html[lang="ar"][dir="rtl"] .sign_in_page input {
  text-align: right;
  padding-right: 25px;
}

.thankYou-wrap .DownloadOurApp-content p:first-child {
  color: #753892;
}

.follow-us a {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  /* Smooth transition for hover effect */
}

.follow-us a:hover {
  transform: scale(1.1);
  /* Slight zoom on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Adding a soft shadow on hover */
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.SubscribeUs-card .mediaObject img {
  width: 103px;
  flex: 0 0 auto;
}

.heading-box h5 {
  line-height: 30px;
}

.heading-box h2 {
  line-height: 50px;
}

.heading-box p {
  line-height: 36px !important;
}

.blog-image {
  max-width: 375px !important;
  width: 100% !important;
  height: 402px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.moment_of_senetry .heading-box h5,
.moment_of_senetry .heading-box h2 {
  margin-bottom: 15px;
}

.select_country button {
  padding: 12px 10px;
}

html[lang="ar"][dir="rtl"] .text-red-500 {
  margin-right: 20px;
}

html[lang="ar"][dir="rtl"] .btn-wrap a {
  font-size: 30px;
  padding: 10px 34px;
}

html[lang="ar"][dir="rtl"] .WelcomeMessage h5 {
  font-size: 40px !important;
  line-height: 49px;
  font-weight: bold;
}

html[lang="ar"][dir="rtl"] .WelcomeMessage p:first-child {
  font-size: 32px !important;
  line-height: 36px;
}

html[lang="ar"][dir="rtl"] .custom_font {
  font-size: 32px;
  line-height: 36px;
}

html[lang="ar"][dir="rtl"] .nurturing-img {
  margin-top: 0;
}

html[lang="ar"][dir="rtl"] .nurturing_wrap {
  display: flex;
  flex-direction: column;
  align-items: normal;
  justify-content: center;
  margin-top: 170px;
}

html[lang="ar"][dir="rtl"] .appstore_heading {
  font-size: 24px;
  line-height: 36px;
  margin-top: 0;
}

html[lang="ar"][dir="rtl"] .custom-prev,
.custom-next img {
  transform: rotate(180deg);
}

html[lang="ar"][dir="rtl"] .benefits-holistic h5 {
  font-size: 56px;
  line-height: 69px;
}

html[lang="ar"][dir="rtl"] .benefits-holistic h2 {
  font-size: 72px;
  line-height: 88px;
}

html[lang="ar"][dir="rtl"] .benefits-holistic .heading-box {
  padding-bottom: 72px;
}

html[lang="ar"][dir="rtl"] .benefits-card .benefits-content h5 {
  font-size: 40px;
  line-height: 49px;
  padding: 25px 0 10px;
}

html[lang="ar"][dir="rtl"] .benefits-card .benefits-content p {
  font-size: 32px;
  line-height: 32px;
}

html[lang="ar"][dir="rtl"] .play_content_wrap h3 {
  font-size: 40px;
  line-height: 40px;
  max-width: 204px;
}

html[lang="ar"][dir="rtl"] .what_we_offer .heading-box h5 {
  font-size: 56px;
  line-height: 69px;
}

html[lang="ar"][dir="rtl"] .what_we_offer .heading-box h2 {
  font-size: 72px;
  line-height: 88px;
}

html[lang="ar"][dir="rtl"] .what_we_offer p {
  font-size: 32px;
  line-height: 32px;
  font-weight: 600;
}

html[lang="ar"][dir="rtl"] .yoga_img_wrapper {
  min-height: 685px !important;
}

html[lang="ar"][dir="rtl"] .yoga_img_wrapper img {
  object-fit: cover;
  object-position: top;
}

html[lang="ar"][dir="rtl"] .what_we_offer span {
  font-size: 40px;
  line-height: 40px;
  font-weight: 600;
}

.sign_icon_wrapper{
  max-width: 100px;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile_active_unActive button{
  margin-left: 10px;
    border: 1px solid gray;
    padding: 5px 20px;
    font-size: 15px;
    outline: none;
}

/* responsive */

@media (min-width: 1536px) {
  .rtl .\32xl\:me-\[88px\] {
    margin-inline-end: 0px;
    margin-inline-start: 88px;
  }

  html[lang="ar"][dir="rtl"] .custom_select {
    padding: 5px 40px 5px 20px;
  }
}


@media (max-width: 1536px) {
  .rtl .\32xl\:me-\[88px\] {
    margin-inline-end: 0px;
    margin-inline-start: 88px;
  }

  html[lang="ar"][dir="rtl"] .custom_select {
    padding: 5px 40px 5px 20px;
  }

  html[lang="ar"][dir="rtl"] .bnenfits_banner p {
    max-width: 440px;
  }

  html[lang="ar"][dir="rtl"] .site-banner-content h5 {
    font-size: 65px;
    line-height: normal;
  }

  html[lang="ar"][dir="rtl"] .site-banner-content p {
    font-size: 34px;
    max-width: 530px;
    padding-top: 16px;
    line-height: normal;
  }

  html[lang="ar"][dir="rtl"] .site-banner-content img {
    height: 130px;
    width: 400px;
  }

  .DownloadOurApp-content .heading-box p {
    line-height: 30px !important;
  }

  html[lang="ar"][dir="rtl"] .about-banner h5 {
    max-width: 560px !important;
  }

  html[lang="ar"][dir="rtl"] .home_banner p {
    font-size: 32px;
    max-width: 750px;
    margin: 0 auto;
    padding-top: 15px;
  }

  html[lang="ar"][dir="rtl"] .WhatWeOffer-content {
    padding: 10px;
  }
  html[lang="ar"][dir="rtl"] .benefits-holistic .heading-box {
    padding: 60px 0;
}
html[lang="ar"][dir="rtl"] .what_we_offer .heading-box h2 {
  font-size: 62px;
  line-height: 68px;
}
}

@media (max-width: 1367px) {
  html[lang="ar"][dir="rtl"] .site-banner-content h5 {
    font-size: 55px;
  }

  html[lang="ar"][dir="rtl"] .bnenfits_banner p {
    max-width: 440px;
  }

  html[lang="ar"][dir="rtl"] .btn-wrap a {
    font-size: 20px;
    line-height: normal;
  }

  html[lang="ar"][dir="rtl"] .benefits-content h5 {
    font-size: 30px;
  }

  .singnature-text p {
    padding-left: 12px;
  }

  .yoga_img_wrapper {
    min-height: 790px !important;
  }

  .home_banner p {
    max-width: 790px;
    padding-top: 15px;
    margin: 0 auto;
  }

  .WhatWeOffer-card .WhatWeOffer-img img {
    position: relative !important;
    width: 100% !important;
    height: 250px !important;
  }

  .benefits-content h5 {
    padding: 10px 0 5px;
  }

  .about-banner {
    min-height: 500px;
  }

  .about-banner h5 {
    max-width: 470px;
  }

  .border_line::after {
    width: 300px;
    left: -150px;
  }

  html[lang="ar"][dir="rtl"] .about-banner h5 {
    max-width: 400px !important;
  }

  html[lang="ar"][dir="rtl"] .event-banner {
    min-height: 600px !important;
  }

  html[lang="ar"][dir="rtl"] .event-banner p {
    padding-top: 0;
  }

  html[lang="ar"][dir="rtl"] .nurturing-img {
    min-height: 620px;
  }

  html[lang="ar"][dir="rtl"] .nurturing-img {
    min-height: 470px;
  }

  html[lang="ar"][dir="rtl"] .appstore_heading {
    font-size: 22px;
    line-height: 26px;
    margin-top: 0;
  }

  html[lang="ar"][dir="rtl"] .btn-download img {
    width: 150px;
    height: 50px;
  }

  html[lang="ar"][dir="rtl"] .custom_font {
    font-size: 26px;
    line-height: 30px;
  }

  html[lang="ar"][dir="rtl"] .nurturing_wrap {
    margin-top: 50px;
  }

  html[lang="ar"][dir="rtl"] .comitment-img {
    min-height: 270px;
  }
}

@media (min-width: 1280px) {
  .rtl .xl\:me-\[60px\] {
    margin-inline-start: 60px;
    margin-inline-end: 0px;
  }
}

@media (max-width: 1280px) {

  html[lang="ar"][dir="rtl"] .site-banner h1,
  .site-banner h5 {
    line-height: normal;
  }

  html[lang="ar"][dir="rtl"] .site-banner-content h5 {
    font-size: 50px;
    line-height: normal;
    margin: 0;
  }

  html[lang="ar"][dir="rtl"] .bnenfits_banner p {
    max-width: 350px;
    font-size: 24px;
    line-height: 24px;
  }

  html[lang="ar"][dir="rtl"] .heading-box {
    line-height: normal;
  }

  html[lang="ar"][dir="rtl"] .blog-card-content .shap p {
    font-size: 24px !important;
  }

  html[lang="ar"][dir="rtl"] .btn-wrap button {
    font-size: 18px;
  }

  html[lang="ar"][dir="rtl"] .date-wrap {
    font-size: 20px;
    line-height: normal;
    height: 80px;
    width: 80px;
  }

  .yoga_img_wrapper {
    min-height: 850px !important;
  }

  .btn-download a:first-child {
    margin-right: 25px !important;
  }

  .download_app h2 {
    text-align: left;
    font-size: 24px;
  }

  .btn-download img {
    width: 225px;
    height: 62px;
  }

  .site-banner-content p {
    max-width: 520px;
    padding-top: 15px;
  }

  html[lang="ar"][dir="rtl"] .submit_btn button {
    padding: 2px 20px;
  }

  html[lang="ar"][dir="rtl"] .form_control input,
  textarea {
    font-size: 22px;
  }

  html[lang="ar"][dir="rtl"] .contact_us h2 {
    line-height: 45px;
  }

  html[lang="ar"][dir="rtl"] .site-banner {
    min-height: 400px;
  }

  .WhatWeOffer-card .WhatWeOffer-img img {
    position: relative !important;
    width: 100% !important;
    height: 190px !important;
  }

  .heading-box h2 {
    line-height: 30px;
  }

  .about-banner p {
    padding: 0;
  }

  .about-banner h5 {
    max-width: 350px;
  }

  html[lang="ar"][dir="rtl"] .about-banner h5 {
    max-width: 350px;
  }

  .about-banner {
    min-height: 430px;
  }

  html[lang="ar"][dir="rtl"] .about-banner {
    min-height: 430px;
  }

  .our-value-content-box {
    margin-top: 80px;
  }

  .benefits-holistic .heading-box {
    padding-bottom: 45px;
  }

  .border_line::after {
    width: 220px;
    left: -110px;
  }

  .custom-pagination span {
    font-size: 15px;
  }

  html[lang="ar"][dir="rtl"] .event-banner {
    min-height: 500px !important;
  }
  html[lang="ar"][dir="rtl"] .benefits-holistic h5 {
    font-size: 50px;
    line-height: 50px;
}
html[lang="ar"][dir="rtl"] .benefits-holistic h2 {
  font-size: 48px;
  line-height: 38px;
}
html[lang="ar"][dir="rtl"] .benefits-holistic{
  padding-top: 0;
}
html[lang="ar"][dir="rtl"] .benefits-holistic .heading-box {
  padding: 30px 0;
}
html[lang="ar"][dir="rtl"] .benefits-card .benefits-content h5 {
  font-size: 30px;
  line-height: 29px;
  padding: 15px 0 5px;
}
html[lang="ar"][dir="rtl"] .benefits-card .benefits-content p {
  font-size: 22px;
  line-height: 22px;
}
html[lang="ar"][dir="rtl"] .custom_font {
  font-size: 24px;
  line-height: 30px;
}
html[lang="ar"][dir="rtl"] .what_we_offer .heading-box h2 {
  font-size: 52px;
  line-height: 58px;
}
html[lang="ar"][dir="rtl"] .what_we_offer .heading-box h5 {
  font-size: 48px;
  line-height: 40px;
}
html[lang="ar"][dir="rtl"] .what_we_offer p {
  font-size: 26px;
  line-height: 28px;
  font-weight: normal;
}
}

@media (max-width: 991px) {
  .lg\:text-black {
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity, 1));
  }

  .WhatWeOffer-card .WhatWeOffer-img img {
    position: relative !important;
    width: 100% !important;
    height: 260px !important;
  }

  .yoga_img_wrapper {
    min-height: 750px !important;
  }

  .btn-download img {
    width: 180px !important;
    height: 60px !important;
  }

  html[lang="ar"][dir="rtl"] .events_blogs .\32 xl\:container.xl\:container.lg\:container.md\:container.xs\:container.mx-auto.lg\:max-0.px-5 {
    max-width: 100%;
  }

  html[lang="ar"][dir="rtl"] .blog-image img {
    object-fit: cover;
    object-position: center;
  }

  html[lang="ar"][dir="rtl"] .site-banner-content h5 {
    font-size: 50px;
    line-height: normal;
    max-width: 400px;
  }

  html[lang="ar"][dir="rtl"] .blog-card-content p {
    font-size: 26px !important;
    max-width: 700px;
  }

  html[lang="ar"][dir="rtl"] .blog-card-content h4 {
    font-size: 26px !important;
  }

  html[lang="ar"][dir="rtl"] .f26 {
    font-size: 26px !important;
  }

  .singnature-text p {
    padding-left: 0 !important;
  }

  .signature_play_wrap {
    align-items: end;
  }

  .w-\[80\%\] {
    width: 100%;
  }

  .home_banner h5 {
    max-width: 480px !important;
  }

  .blog-image {
    max-width: 100% !important;
    width: 100% !important;
    height: 402px;
  }

  .about-banner {
    min-height: 330px;
  }

  .about-banner h5 {
    max-width: 240px !important;
  }

  html[lang="ar"][dir="rtl"] .about-banner h5 {
    max-width: 420px !important;
    font-size: 42px !important;
  }

  html[lang="ar"][dir="rtl"] .event-banner {
    min-height: 400px !important;
  }

  .about-banner p {
    max-width: 400px;
    padding-top: 0px;
    font-size: 14px;
    margin-top: 10px;
  }

  /* html[lang="ar"][dir="rtl"] .about-banner p {
    max-width: 400px;
    padding-top: 0px;
    font-size: 14px;
    margin-top: 10px;
  } */

  .our-value-content-box {
    margin-top: 30px;
  }

  .about-us .heading-box {
    margin-bottom: 15px;
  }

  .benefits-holistic .heading-box {
    padding-bottom: 25px;
  }

  .what_we_offer .heading-box h2 {
    line-height: 30px;
    max-width: 350px;
    margin-bottom: 20px;
  }
}


@media (max-width: 991px) {
  .WhatWeOffer-card .WhatWeOffer-img {
    margin: 15px 15px 0;
  }

  .WhatWeOffer-card:hover .WhatWeOffer-img {
    margin: 0;
    animation: .3s ease-in;
  }

  .our-value-inner,
  .aboutUs {
    display: flex;
    flex-direction: column-reverse;
  }

  .our-value-inner .nurturing-img {
    margin-bottom: 25px;
  }

  .object-cover {
    object-fit: cover;
    object-position: top;
  }

  html[lang="ar"][dir="rtl"] .site-banner h1,
  .site-banner h5 {
    line-height: normal;
    max-width: 280px;
  }

  html[lang="ar"][dir="rtl"] .site-banner p {
    line-height: normal;
    max-width: 290px;
    font-size: 20px;
    margin-top: 5px;
  }

  html[lang="ar"][dir="rtl"] .slider-content h4 {
    font-size: 26px;
    line-height: normal;
  }

  html[lang="ar"][dir="rtl"] .btn-wrap a {
    font-size: 18px;
    line-height: normal;
  }

  html[lang="ar"][dir="rtl"] .slider-content p {
    font-size: 22px;
    line-height: normal;
  }

  html[lang="ar"][dir="rtl"] .site-banner-content h5 {
    font-size: 50px;
    line-height: normal;
    max-width: 500px;
  }

  html[lang="ar"][dir="rtl"] .site-banner {
    min-height: 400px;
    padding-bottom: 0;
  }

  html[lang="ar"][dir="rtl"] .slider-content small {
    font-size: 22px;
    line-height: normal;
  }

  html[lang="ar"][dir="rtl"] .submit_btn button {
    padding: 2px 20px;
  }

  html[lang="ar"][dir="rtl"] .contact_us h2 {
    line-height: normal;
  }

  html[lang="ar"][dir="rtl"] .site-banner-content img {
    height: 90px;
    width: 290px;
  }

  html[lang="ar"][dir="rtl"] .site-banner-content p {
    font-size: 24px !important;
    max-width: 510px !important;
    padding-top: 16px;

  }

  html[lang="ar"][dir="rtl"] .site-banner {
    min-height: 370px;
    padding-bottom: 20px;
  }

}

@media (max-width: 776px) {

  .WhatWeOffer-card .WhatWeOffer-img img {
    position: relative !important;
    width: 100% !important;
    height: 190px !important;
  }

  html[lang="ar"][dir="rtl"] .site-banner-content h5 {
    font-size: 40px;
    line-height: normal;
    max-width: 400px;
  }

  html[lang="ar"][dir="rtl"] .custom_select {
    padding: 2px 28px 2px 8px;
    font-size: 16px !important;
    margin-left: 10px !important;
  }

  html[lang="ar"][dir="rtl"] .site-banner-content p {
    font-size: 22px !important;
    max-width: 390px !important;
    padding-top: 10px;
    line-height: normal;
  }

  html[lang="ar"][dir="rtl"] .site-banner {
    min-height: 150px;
    padding-bottom: 20px;
    padding-top: 40px;
  }

  html[lang="ar"][dir="rtl"] .site-banner-content img {
    height: 70px;
    width: 180px;
  }

  .yoga_img_wrapper {
    min-height: 540px !important;
  }

  .WhatWeOffer-card .WhatWeOffer-img img {
    position: relative !important;
    width: 100% !important;
    height: 150px !important;
  }

  .WhatWeOffer-content h5 {
    font-size: 16px;
  }

  .benefits-content h5 {
    padding: 10px 0 5px;
    font-size: 18px;
  }

  .contact-banner p {
    margin-top: 0;
    padding-top: 5px;
  }

  .custom-pagination span {
    font-size: 14px;
  }

  html[lang="ar"][dir="rtl"] .about-banner h5 {
    max-width: 320px !important;
    font-size: 32px !important;
  }

  html[lang="ar"][dir="rtl"] .event-banner {
    min-height: 300px !important;
  }

  html[lang="ar"][dir="rtl"] .event-banner p {
    font-size: 18px !important;
    max-width: 330px !important;
  }

  html[lang="ar"][dir="rtl"] .download_app_btn a {
    padding: 5px 10px !important;
  }

  html[lang="ar"][dir="rtl"] .event-banner .btn-wrap a {
    font-size: 16px !important;
    padding: 6px 20px;
  }

  html[lang="ar"][dir="rtl"] .event-banner .btn-wrap {
    margin-top: 30px;
  }

  html[lang="ar"][dir="rtl"] .nurturing_wrap {
    margin-top: 0;
  }

  html[lang="ar"][dir="rtl"] .btn-download img {
    width: 150px !important;
    height: 50px !important;
  }
  html[lang="ar"][dir="rtl"] .benefits-card .benefits-content h5 {
    font-size: 28px;
    line-height: 25px;
    padding: 15px 0 5px;
}
html[lang="ar"][dir="rtl"] .benefits-card .benefits-content p {
  font-size: 22px;
  line-height: 22px;
}
html[lang="ar"][dir="rtl"] .play_content_wrap h3 {
  font-size: 28px;
  line-height: 30px;
}
html[lang="ar"][dir="rtl"] .custom_font {
  font-size: 20px;
  line-height: 20px;
}
html[lang="ar"][dir="rtl"] .what_we_offer .heading-box h5 {
  font-size: 38px;
  line-height: 20px;
}
html[lang="ar"][dir="rtl"] .what_we_offer .heading-box h2 {
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 10px;
}
html[lang="ar"][dir="rtl"] .what_we_offer span {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
}
html[lang="ar"][dir="rtl"] .what_we_offer p {
  font-size: 20px;
  line-height: 23px;
  font-weight: normal;
}
}

@media (max-width: 480px) {
  .WhatWeOffer-card .WhatWeOffer-img img {
    height: 217px !important;
  }

  .yoga_img_wrapper {
    min-height: 400px !important;
  }

  html[lang="ar"][dir="rtl"] .site-banner h1,
  .site-banner h5 {
    line-height: normal;
    max-width: 300px;
  }

  html[lang="ar"][dir="rtl"] .site-banner {
    min-height: 300px;
  }

  html[lang="ar"][dir="rtl"] .benefits_banner h5 {
    font-size: 30px;
    line-height: normal;
    max-width: 400px;
    margin-bottom: 5px;
  }

  html[lang="ar"][dir="rtl"] .benefits_banner p {
    margin-top: 0px;
  }

  html[lang="ar"][dir="rtl"] .blog-card-content p {
    font-size: 20px !important;
    max-width: 700px;
  }

  html[lang="ar"][dir="rtl"] .btn-wrap button {
    font-size: 18px;
    padding: 4px 20px;
  }

  html[lang="ar"][dir="rtl"] .blog-card-content h4 {
    font-size: 25px !important;
  }

  html[lang="ar"][dir="rtl"] .rtl\:text-\[30px\]:where([dir="rtl"], [dir="rtl"] *) {
    font-size: 26px;
  }

  html[lang="ar"][dir="rtl"] .rtl\:text-\[40px\]:where([dir="rtl"], [dir="rtl"] *) {
    font-size: 32px !important;
  }

  html[lang="ar"][dir="rtl"] .date-wrap {
    font-size: 20px;
    line-height: normal;
    height: 60px;
    width: 70px;
  }

  html[lang="ar"][dir="rtl"] .date-wrap h1 {
    line-height: normal;
  }

  html[lang="ar"][dir="rtl"] .bg-shap-bg {
    min-height: 30px;
    margin: 10px 0;
    max-width: 130px;
    background-position: right;
  }

  html[lang="ar"][dir="rtl"] .contact-banner {
    min-height: 320px;
  }

  html[lang="ar"][dir="rtl"] .benefits-content p {
    font-size: 16px;
  }

  .singnature-text p {
    font-size: 16px;
    line-height: 30px;
  }

  .btn-download img {
    width: 130px !important;
    height: 40px !important;
  }

  .moment_of_senetry {
    padding-top: 40px;
  }

  .form_wrap {
    margin-top: 15px;
  }

  .Toastify__toast-container {
    max-width: 320px;
    margin: 0 auto;
    width: 100%;
    position: fixed;
    right: 0px;
  }

  .commitment-wrap {
    padding-top: 30px;
  }

  .commitment-wrap .heading-box {
    padding-bottom: 0;
  }

  .SubscribeUs-card input {
    padding: 10px 40px 10px 10px;
  }

  .benefits-holistic .heading-box {
    margin-top: 15px;
  }

  .heading-box h2 {
    line-height: 15px;
  }

  .custom-pagination span {
    font-size: 14px;
  }

  .about-us {
    padding: 40px 0;
  }

  .download_application .heading-box h2 {
    line-height: 24px;
        font-size: 26px;
    }

  .upload_icon {
    position: relative;
    height: 40px;
    width: 80px;
    top: 0px !important;
    left: 7px;
  }

  .upload_feild {
    padding: 0 5px;
  }

  html[lang="ar"][dir="rtl"] .event-banner {
    min-height: 250px !important;
  }

  html[lang="ar"][dir="rtl"] .commitment-content {
    margin-bottom: 10px;
    margin-top: 16px;
  }

  html[lang="ar"][dir="rtl"] .commitment-content p {
    font-size: 16px !important;
    max-width: 300px;
    line-height: normal;
    margin: auto;
  }

  html[lang="ar"][dir="rtl"] .Meditation-content-inner p {
    font-size: 16px;
    line-height: 20px;
  }

  html[lang="ar"][dir="rtl"] .Meditation-content-inner h5 {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 10px;
  }

  html[lang="ar"][dir="rtl"] .book-you-button a {
    margin-left: 0;
    padding: 5px 18px;
    font-size: 16px;
  }

  html[lang="ar"][dir="rtl"] .book-you-button h5 {
    font-size: 26px;
    line-height: normal;
  }

  html[lang="ar"][dir="rtl"] .DownloadOurApp-content h5 {
    font-size: 20px;
    margin: 0;
  }

  html[lang="ar"][dir="rtl"] .DownloadOurApp-content p {
    font-size: 16px;
    line-height: normal;
  }

  html[lang="ar"][dir="rtl"] .DownloadOurApp-content .QR-box {
    margin-top: 15px;
  }

  html[lang="ar"][dir="rtl"] .QR img {
    width: 80px;
    height: 50px;
  }

  html[lang="ar"][dir="rtl"] .benefits-holistic .heading-box {
    padding-bottom: 0;
  }

  html[lang="ar"][dir="rtl"] .benefits-content h5 {
    font-size: 22px;
    line-height: normal;
  }

  html[lang="ar"][dir="rtl"] .benefits-content p {
    font-size: 18px;
    line-height: normal;
  }

  html[lang="ar"][dir="rtl"] .blog-wrap .heading-box h5 {
    line-height: normal;
  }

  html[lang="ar"][dir="rtl"] .blog-wrap .heading-box h2 {
    line-height: 0;
    font-size: 32px;
  }

  html[lang="ar"][dir="rtl"] .card-content h4 {
    font-size: 20px;
    margin-bottom: 5px;
  }

  html[lang="ar"][dir="rtl"] .card-content p {
    font-size: 16px;
    line-height: normal;
    margin-bottom: 0;
  }

  html[lang="ar"][dir="rtl"] .SubscribeUs-card h1 {
    font-size: 22px;
    line-height: normal;
    margin-bottom: 10px;
  }

  html[lang="ar"][dir="rtl"] .follow-us h5 {
    font-size: 18px;
  }

  html[lang="ar"][dir="rtl"] .custom_font {
    font-size: 18px;
    line-height: 26px;
    margin-top: 10px;
  }

  html[lang="ar"][dir="rtl"] .font-brittany {
    font-size: 28px;
    padding: 0;
  }

  html[lang="ar"][dir="rtl"] .WhatWeOffer-card {
    max-width: 350px;
    margin: 0 auto;
  }

  html[lang="ar"][dir="rtl"] .WelcomeMessage h5 {
    font-size: 30px !important;
    line-height: 30px;
    font-weight: bold;
  }

  html[lang="ar"][dir="rtl"] .nurturing-img {
    min-height: 350px;
  }

  html[lang="ar"][dir="rtl"] .btn-download img {
    width: 100px !important;
    height: 30px !important;
  }

  html[lang="ar"][dir="rtl"] .WhatWeOffer {
    padding-top: 30px;
  }
  html[lang="ar"][dir="rtl"] .benefits-holistic h5 {
    font-size: 30px;
    line-height: 20px;
}
html[lang="ar"][dir="rtl"] .benefits-holistic .heading-box {
  padding: 0px 0;
}
html[lang="ar"][dir="rtl"] .what_we_offer span {
  font-size: 26px;
  line-height: 25px;
  font-weight: normal;
}
html[lang="ar"][dir="rtl"] .what_we_offer p {
  font-size: 18px;
  line-height: 20px;
  font-weight: normal;
}
}
